<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/clinicals_list.css">
    <title>Patient detail</title>
</head>
<body>
    <h1>Paitent Detail</h1>
    <hr>

    <span id="firstname">First Name : {{paitent.firstname}}</span>
    <input id="firstname" type="text" placeholder="{{paitent.firstname}}">
    <br>
    <br>

    <span id="lastname"> Last Name : {{paitent.lastname}}</span>
    <input id="lastname" type="text" placeholder="{{paitent.lastname}}">
    <br>
    <br>
    

    
    <span id="age"> Age : {{paitent.age}}</span>
    <input id="age" type="number" placeholder="{{paitent.age}}">
    <hr>
    <h1>Paitent Clinical Data</h1>
    <form method="post">
        <table border="0">
            {{form.as_table}}
            {%csrf_token%}
        </table>
        <input class="b" type="submit" value="save">
    </form>
</body>
</html>